@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Light"), local("Gilroy-Light"), url("/fonts/Gilroylight.woff2") format("woff2"), url("/fonts/Gilroylight.woff") format("woff"), url("/fonts/Gilroylight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("/fonts/Gilroyextrabold.woff2") format("woff2"), url("/fonts/Gilroyextrabold.woff") format("woff"), url("/fonts/Gilroyextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

@media (max-width: 767px) {
  .header__nav {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: -100%;
    left: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.header__nav.active {
  top: 0;
  overflow: auto;
}

.header__nav:after {
  content: '';
  max-width: 100%;
  min-width: 825px;
  height: 1px;
  border: 1px solid #828282;
  display: block;
  margin: 30px 2px 40px 2px;
  -webkit-box-shadow: 2px 5px 10px black;
          box-shadow: 2px 5px 10px black;
}

@media (max-width: 767px) {
  .header__nav:after {
    display: none;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 33px 0 0 0;
}

@media (max-width: 767px) {
  .header__list {
    display: block;
    margin: 72px 0 0 26px;
  }
  .header__list li {
    margin: 0 0 68px 0;
  }
}

.header__list a {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #0bb968;
  padding: 25px 45px;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .header__list a {
    padding: 0;
    font-size: 34px;
    line-height: 42px;
  }
}

.header__list a:hover {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: white;
  background-color: #0bb968;
  padding: 25px 45px;
}

@media (max-width: 767px) {
  .header__list a:hover {
    padding: 0;
    font-size: 34px;
    line-height: 42px;
    background-color: white;
    color: #0bb968;
    text-decoration: underline;
  }
}

.header__list a.home {
  color: black;
}

.container {
  max-width: 945px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.text {
  font-family: 'Gilroy-Light';
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.about-top {
  position: relative;
}

.about-top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 -10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767px) {
  .about-top__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 68px 0 0 0;
  }
}

.about-top__column:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 767px) {
  .about-top__column:nth-child(2) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.about-top__column_name {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
  text-align: center;
}

@media (max-width: 767px) {
  .about-top__column_name {
    text-align: left;
    margin: 0 0 23px 0;
  }
}

.about-top__column_name p:first-child {
  color: red;
}

.about-top__column_info {
  margin: 0 0 0 -50px;
}

@media (max-width: 767px) {
  .about-top__column_info {
    margin: 0;
  }
  .about-top__column_info p:first-child {
    text-align: left;
  }
}

.about-top__column_burger {
  display: none;
}

@media (max-width: 767px) {
  .about-top__column_burger {
    display: block;
    position: absolute;
    top: 68px;
    right: 28px;
    width: 33px;
    height: 20px;
    z-index: 2;
  }
  .about-top__column_burger span {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 3.8px;
    background-color: #000;
    color: #000;
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }
  .about-top__column_burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .about-top__column_burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
  }
  .about-top__column_burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8px;
  }
  .about-top__column_burger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.8px;
    background-color: #000;
    color: #000;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .about-top__column_burger::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.8px;
    background-color: #000;
    color: #000;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.about-top__column_languages {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-align: center;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media (max-width: 767px) {
  .about-top__column_languages {
    display: none;
  }
}

.about-top__column_languages p {
  display: inline;
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}

.about-top__column_languages p:first-child {
  color: #070707;
}

.about-top__column_languages p:first-child::after {
  content: '';
  height: 1px;
  width: 15px;
  border: 1px solid black;
  display: inline-block;
  margin: 5px 0px;
}

.about-top__column_languages p:last-child {
  text-decoration: line-through;
}

.main-foto__block {
  margin: 50px 0 0 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.main-foto__block img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .main-foto__block {
    display: none;
  }
}

.main-foto__block_mobile {
  display: none;
}

@media (max-width: 767px) {
  .main-foto__block_mobile {
    display: block;
    margin: 37px 0 0 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }
  .main-foto__block_mobile img {
    max-width: 100%;
  }
}

.about-center {
  background-color: #F6F6F6;
  margin: 105px 0 0 0;
  padding: 0 0 105px 0;
}

@media (max-width: 767px) {
  .about-center {
    margin: 83px 0 0 0;
    padding: 0 0 76px 0;
  }
}

.about-center__container {
  max-width: 485px;
  margin: 0 auto;
}

.about-center__title {
  text-align: center;
  padding: 120px 0 18px 0;
}

@media (max-width: 767px) {
  .about-center__title {
    padding: 81px 0 30px 0;
  }
}

.about-center__text {
  font-family: 'Gilroy-Light';
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.about-center__text p {
  text-align: center;
  margin: 0 0 50px 0;
}

.about-center__text p:last-child {
  margin: 0;
}

.skills {
  padding: 91px 0 110px 0;
}

@media (max-width: 767px) {
  .skills {
    padding: 83px 0 18px 0;
  }
}

.skills__title {
  margin: 0 0 70px 0;
}

@media (max-width: 767px) {
  .skills__title {
    margin: 0 0 50px 0;
  }
}

.skills__subtitle {
  margin: 0 0 83px 0;
}

@media (max-width: 767px) {
  .skills__subtitle {
    margin: 0 0 71px 0;
  }
}

.skills__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .skills__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .skills__column {
    margin: 0 0 80px 0;
  }
}

.skills__item {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

@media (max-width: 767px) {
  .skills__item {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.skills__img {
  margin: 0 0 24px 0;
  text-align: center;
}

.skills__img img {
  max-width: 100%;
}

.skills__text {
  text-align: center;
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  margin: 0 0 40px 0;
}

@media (max-width: 767px) {
  .skills__level {
    text-align: center;
  }
}

.portfolio {
  background-color: #F6F6F6;
  padding: 113px 0 96px 0;
}

@media (max-width: 767px) {
  .portfolio {
    padding: 81px 0 81px 0;
  }
}

.portfolio__title {
  margin: 0 0 47px 0;
}

@media (max-width: 767px) {
  .portfolio__title {
    margin: 0 0 65px 0;
  }
}

.portfolio__img {
  margin: 0 0 45px 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

@media (max-width: 767px) {
  .portfolio__img {
    margin: 0 0 33px 0;
  }
}

.portfolio__img img {
  max-width: 100%;
}

.portfolio__text {
  font-family: 'Gilroy-Light';
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #070707;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts {
  margin: 115px 0 20px 0;
}

@media (max-width: 767px) {
  .footer__contacts {
    margin: 82px 0 27px 0;
  }
}

.footer__text {
  margin: 0 0 30px 0;
}

@media (max-width: 767px) {
  .footer__text {
    margin: 0 0 40px 0;
  }
}

.footer__buttom-block {
  text-align: center;
  margin: 0 0 85px 0;
}

@media (max-width: 767px) {
  .footer__buttom-block {
    margin: 0 0 48px 0;
  }
}

.footer__buttom {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: black;
  padding: 13px 30px;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .footer__buttom {
    padding: 13px 75px;
  }
}

.footer__buttom:hover {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.697);
  padding: 13px 30px;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .footer__buttom:hover {
    padding: 13px 75px;
  }
}

.footer__icon-row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 0 0 0;
}

.footer__item:nth-child(1) {
  padding: 0 30px 0 0;
}

.footer__item:nth-child(2) {
  padding: 0 0 0 30px;
}

@media (max-width: 767px) {
  .footer__item {
    padding: 0 0 0 51px;
  }
}

.footer__litle-text {
  margin: 45px 0 120px 0;
  text-align: center;
  font-family: 'Gilroy-Light';
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

@media (max-width: 767px) {
  .footer__litle-text {
    margin: 45px 0 90px 0;
  }
}

.footer__litle-text a {
  color: #0bb968;
}

.footer__litle-text a:hover {
  text-decoration: underline;
}

.person-container {
  max-width: 343px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 767px) {
  .person-container {
    max-width: 316px;
  }
}

.title {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}

p.text:first-child span {
  color: green;
}
