.body {
    @media (max-width: 767px) {
        margin: 120px 0 0 0;
    }
		&__row {
            display: flex;
            align-items: flex-start;
            @media (max-width: 767px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
		&__image {
            flex: 0 0 270px;
            text-align: center;
            padding: 15px 0 0 0;
            @media (max-width: 767px) {
                flex: 0 0 160px;
                align-items: flex-end;
                margin: 0 0 0 -5px;
            }
            &::after {
                content: "";
                display: block;
                background: url("/img/about/after.png") no-repeat top -7px center ;
                width: 270px;
                height: 130px;
                @media (max-width: 767px) {
                    background-image: url("/img/about/after_2.png") plushka dura;
                    background-repeat: no-repeat;
                    background-position: 90px -5px;
                }
            } 
            img {
                max-width: 90%;
                border-radius: 6%;
                border: 4px solid #f7c292;
                box-shadow: 2px 2px 10px black;
            }
        }
		&__info {
            flex: 1 1 auto;
            margin: 11px 0 0 5%;
            background: url("/img/about/fon_for_text.jpg");
            padding: 10px 20px 0 20px;
            border-radius: 2%;
            @media (max-width: 767px) {
                padding: 0px 10px 0 15px;
            }
            p {
                margin: 0 0 13px 0;
            }
        }
		&__title {
            font-size: 24px;
            margin: 0 0 21px 0;
            color: rgb(59, 76, 230);
            font-family: 'Gilroy-ExtraBold';
            font-weight: 800;
            font-size: 34px;
            line-height: 42px;
            text-align: left;
            @media (max-width: 767px) {
                font-size: 22px;
                margin: 0 0 7px 0;
            }
        }
        
		&__text {
            font-family: 'Gilroy-Light';
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            text-align: left;
            color: #161515;
        }
}

.ag {
    display: none;
    @media (max-width: 767px) {
        display: block;
        position: absolute;
        top: 68px;
        left: 28px;
        span:first-child {
            color: red;
            font-family: 'Gilroy-ExtraBold';
            font-weight: 800;
            font-size: 38px;
        }
        span:last-child {
            color: black;
            font-family: 'Gilroy-ExtraBold';
            font-weight: 800;
            font-size: 38px;
        }
    }
}
