.ag {
    display: none;
    @media (max-width: 767px) {
        display: block;
        position: absolute;
        top: 58px;
        left: 28px;
        span:first-child {
            color: red;
            font-family: 'Gilroy-ExtraBold';
            font-weight: 800;
            font-size: 38px;
        }
        span:last-child {
            color: black;
            font-family: 'Gilroy-ExtraBold';
            font-weight: 800;
            font-size: 38px;
        }
    }
}

.body {
		&__column {
            margin: 40px 0 0 0;
            @media (max-width: 767px) {
                margin: 140px 0 0 0;
            }
        }
		&__row {
            display: flex;
            margin: 0 0 50px 0;
            box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.662);
            padding: 12px 0 10px 10px;
            background-color: rgb(225, 209, 209);
            @media (max-width: 767px) {
                flex-direction: column;
            }
        }
		&__visual {
            @media (max-width: 767px) {
                margin: 0 auto;
            }
        }
		&__item {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 0 20px 0 0;
            @media (max-width: 767px) {
                margin: 0 0 20px 0;
            }
        }
		&__logo {
            margin: 0 0 20px 0;
            @media (max-width: 767px) {
                width: 90px;
                margin: 0 0 10px 0;
                img {
                    max-width: 100%;
                }
            }
        }
		&__stars {
            @media (max-width: 767px) {
                width: 90px;
                img {
                    max-width: 100%; 
                }
            }
        }
		&__text {
            font-family: 'Gilroy-Light';
            font-weight: 300;
            font-size: 20px;
            line-height: 22px;

        }
}





